# URL del backend Laravel
PUBLIC_API_URL=http://localhost:8000

# Nombre del repositorio en Prismic (prismic.io)
PUBLIC_PRISMIC_REPO=tu-repositorio

# URL pública del sitio (sin diagonal al final)
# En desarrollo: http://localhost:4321
# En producción: https://tudominio.com
PUBLIC_SITE_URL=http://localhost:4321
